.services {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 40%);
    grid-gap: 80px;
    text-align: center;
    margin-bottom: 60px;
}

.services h3 {
    font-size: 28px;
    font-weight: 400;
}

.services P {
    font-size: 14px;
    color: #b2b2b2;
    line-height: 1.5;
}